@charset "utf-8";
/* common.css - 공통 레이아웃 디자인 */

/******************************************상단영역******************************************/
.top{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.46);
    z-index: 100000;
}
#top [class*=col-]{
    height: 60px;
}

/*로고이미지*/
#logo img{
    height: 40px;
    margin-left: 70px;
}

/*전체메뉴*/
.gnb{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.gnb>ul{
    display: flex;
}
.gnb>ul>li{
    padding: 0 15px;
}

/*마이메뉴*/
.gnb_my{
    display: flex;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-right: 80px;
}
.gnb_my>li{
    padding: 0 8px;
}

/******************************************하단영역******************************************/
.info {
    height: auto;
    
}

#info .fbx{
    height: auto;
}
#info .ih1{/*하단첫째줄*/
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#info .ih2{/*하단둘째줄*/
    height: 225px;
    
}
.info .ih2{
    background-color: #f9f9f9;
}

.page.info{
    border-top: 2px solid #f9f9f9;   
}

.foot_1{
    display: flex;
}

.foot_1 a{
    position: relative;
    padding: 0 10px;
}
.foot_1 a::after{
   content: '';
    position: absolute;
    width: 1px;
    height: 14px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: #000;
}
.foot_1 a:first-child{
    padding-left: 0;
}
.foot_1 a:first-child::after{
    display: none;
}


.foot_2{
    font-size: 0.875rem;
    color: #666;
    line-height: 1.8;
     
}

body {
  font-size: 14px;
}


.foot_2 a{
   border: 1px solid #ccc;
    padding: 0 10px;
    color: #666;
    background-color: #e2dfdf;
}



.select_box select{    
    width: 137px;
    height: 30px;
    font-size: 17px;
    color: #777;
    border: none;
}


.select_box select:focus{  
    outline: none;
}





